<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="200px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <i nz-icon [nzIconfont]="'icon-tower'"></i>
        <h1>TOWER</h1>
      </a>
    </div>
    <app-menu [nzInlineCollapsed]="isCollapsed"></app-menu>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="app-header-trigger header-trigger" (click)="isCollapsed = !isCollapsed">
          <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="header-user">
          <span class="header-user-username">user</span>
          <a nz-button nzSize="small" nzType="link" (click)="logout()"><i nz-icon nzType="logout"></i>退出</a>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>