<nz-layout>
  <nz-content>
    <nz-layout>
      <nz-header>
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-space>
              <nz-space-item>
                <button nz-button nzType="default" nzSize="small" nzShape="round" (click)="refresh()"><i nz-icon
                    nzType="reload"></i>刷新</button>
              </nz-space-item>
              <nz-space-item>
                <button nz-button nzType="primary" nzSize="small" nzShape="round" (click)="expandAll(true)"><i nz-icon
                    nzType="down-circle"></i>展开</button>
              </nz-space-item>
              <nz-space-item>
                <button nz-button nzType="primary" nzSize="small" nzShape="round" (click)="expandAll(false)"><i nz-icon
                    nzType="up-circle"></i>合拢</button>
              </nz-space-item>
            </nz-space>
          </div>
          <div nz-col nzSpan="24">
            <nz-space>
              <nz-space-item>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                  <input type="text" nz-input placeholder="input search text" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                  <button nz-button nzType="default" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
              </nz-space-item>
            </nz-space>
          </div>
        </div>
      </nz-header>
      <nz-content class="menu-tree-container">
        <nz-spin nzSimple nzSize="large" [nzSpinning]="treeLoading">
        </nz-spin>
        <nz-tree class="menu-tree" [nzData]="tree$ | async" [nzShowIcon]="true" [nzTreeTemplate]="treeTemplate"
          (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)" (nzCheckBoxChange)="nzEvent($event)">
        </nz-tree>
      </nz-content>
    </nz-layout>
  </nz-content>
  <nz-sider class="menu-info-container" nzTheme="light" nzWidth="60%" [nzCollapsed]="!showMenuInfoPane"
    [nzCollapsedWidth]="0">
    <nz-descriptions class="menu-info-pane" nzTitle="菜单信息" nzBordered nzLayout="vertical">
      <nz-descriptions-item nzTitle="名称">{{menuInfoNode?.title}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="图标">
        <nz-space>
          <nz-space-item>
            <i nz-icon [nzType]="menuInfoNode?.icon" nzTheme="outline"></i>
          </nz-space-item>
          <nz-space-item>
            {{menuInfoNode?.icon}}
          </nz-space-item>
        </nz-space>
      </nz-descriptions-item>
      <ng-container *ngIf="menuInfoNode?.id !== 'root'">
        <nz-descriptions-item nzTitle="状态">
          <nz-space nzSize="large">
            <nz-space-item>
              <nz-badge nzStatus="processing" [nzText]="menuInfoNode?.enabled | constant:'menu.enabled'"></nz-badge>
            </nz-space-item>
            <nz-space-item *ngIf="menuInfoNode?.enabled">
              <button nz-button nzType="text" (click)="enableMenu(menuInfoNode.id, false)"><i nz-icon nzType="close-circle" nzTheme="twotone" nzTwotoneColor="red"></i></button>
            </nz-space-item>
            <nz-space-item *ngIf="!menuInfoNode?.enabled">
              <button nz-button nzType="text" (click)="enableMenu(menuInfoNode.id, true)"><i nz-icon nzType="check-circle" nzTheme="twotone"></i></button>
            </nz-space-item>
          </nz-space>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="类型">{{menuInfoNode?.type | constant:'menu.type'}}</nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="2" nzTitle="地址">{{menuInfoNode?.url}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="创建人">
          {{menuInfoNode?.addUser}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="2" nzTitle="创建时间">
          {{menuInfoNode?.addTime | date:"yyyy-MM-dd HH:mm:ss"}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="更新人">
          {{menuInfoNode?.updUser}}
        </nz-descriptions-item>
        <nz-descriptions-item [nzSpan]="2" nzTitle="更新时间">
          {{menuInfoNode?.updTime | date:"yyyy-MM-dd HH:mm:ss"}}
        </nz-descriptions-item>
      </ng-container>
    </nz-descriptions>
  </nz-sider>
</nz-layout>

<ng-template #treeTemplate let-node>
  <nz-space title="" class="tree-node-template"
    [ngClass]="{'selected-tree-node': selected && selected.key === node.key, 'tree-branch-node': !node.isLeaf}">
    <nz-space-item class="tree-node-icon">
      <i nz-icon [nzType]="node.icon" nzTheme="outline"></i>
    </nz-space-item>
    <nz-space-item class="tree-node-title">
      {{node.title}}
    </nz-space-item>
    <nz-space-item class="tree-node-btn" *ngIf="!node.isLeaf">
      <span nz-tooltip nzTooltipTitle="新增子菜单">
        <button nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="newMenu($event, node)">
          <i nz-icon nzType="plus"></i>
        </button>
      </span>
    </nz-space-item>
    <!-- <nz-space-item class="tree-node-btn" *ngIf="node.key !== 'root'">
      <span nz-tooltip nzTooltipTitle="修改">
        <button nz-button nzType="primary" nzSize="small" nzShape="circle" (click)="editMenu($event, node)">
          <i nz-icon nzType="edit"></i>
        </button>
      </span>
    </nz-space-item>
    <nz-space-item class="tree-node-btn" *ngIf="node.key !== 'root'">
      <span nz-tooltip nzTooltipTitle="删除">
        <button nz-button nzType="primary" nzSize="small" nzShape="circle" nzDanger>
          <i nz-icon nzType="delete"></i>
        </button>
      </span>
    </nz-space-item> -->
  </nz-space>
</ng-template>

<nz-modal nzClassName="pt100 pb100" [nzStyle]="{minHeight:'560px',maxHeight:'600px'}" [(nzVisible)]="menuOp"
  [nzBodyStyle]="{padding:'30px 10px'}" [nzTitle]="menuOp?.title" [nzKeyboard]="false" [nzMaskClosable]="false"
  [nzClosable]="false" (nzOnCancel)="close()" (nzOnOk)="close()">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <!-- <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>
        <span>名称</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入菜单名称！">
        <input nz-input id="title" formControlName="title" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="icon" nzRequired>图标</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入图标！">
        <input nz-input id="icon" formControlName="icon" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>