<ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="nzInlineCollapsed">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menuTree }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let node of menus">
      <li
        *ngIf="!node.children || node.children.length == 0"
        nz-menu-item
        [nzPaddingLeft]="nzInlineCollapsed ? 0 : node.level * 24"
        [nzDisabled]="node.disabled"
        [nzSelected]="node.selected"
        [nzMatchRouter]="true"
      >
        <a [routerLink]="'/page' + node.raw.url"><i nz-icon [nzType]="node.raw.icon" *ngIf="node.raw.icon"></i>{{ node.title }}</a>
      </li>
      <li
        *ngIf="node.children && node.children.length > 0"
        nz-submenu
        [nzPaddingLeft]="nzInlineCollapsed ? 0 : node.level * 24"
        [nzOpen]="node.open"
        [nzTitle]="node.title"
        [nzIcon]="node.raw.icon"
        [nzDisabled]="node.disabled"
      >
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: node.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>